body
{
	background-color: #93dde7;
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	
}
	
#container
{
	background-color: white;
	width: 300px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(7, 34, 85, 0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(7, 34, 85, 0.9);
	box-shadow: 3px 3px 30px 5px rgba(7, 34, 85, 0.9);
}

input[type=text],
input[type=e-mail],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #182170;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=submit]
{
	width: 300px;
	background-color: #182170;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

h1
{
	color: #182170;
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 2px;
}